.git
.github
.pytest_cache
.mypy_cache
.ruff_cache
.DS_Store

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

client/ui/node_modules
client/ui/dist
client/ui/.vite
client/ui/coverage

client/src-tauri/target

server/venv
server/cache
server/logs
server/sandbox
server/db/knowledge/data
server/db/projects/postgres_data
server/db/projects/projects.db
server/db/projects/*.db-shm
server/db/projects/*.db-wal
client/ui/*.tsbuildinfo

tmp
